html{
    background-color: black;
}
h1 {
    margin-left: 35%;
    display: inline-block;
    text-align: center;
    border: 5px solid;
    border-color: rgb(102, 92, 129);
    background-color: rgb(215, 133, 71);
    padding: 20px;
}
#container div {
        display: inline-block;
        text-align: center;
        border: 2px solid;
        border-color: orange;
        padding: 5px;
        margin: 15px;
        box-sizing: border-box;
        background-color: rgb(102, 92, 129);
    }

#container img {
    display: block;
}

    @media (max-width: 640px) {
    h1 {
    margin-left: 15%;
    display: inline-block;
    text-align: center;
    border: 2px solid;
    border-color: rgb(102, 92, 129);
    background-color: rgb(160 26 26);
    padding: 10px;
}
#container div {
        display: inline-block;
        text-align: center;
        border: 2px solid;
        border-color: orange;
        padding: 2px;
        margin: 5px;
        box-sizing: border-box;
        background-color: rgb(102, 92, 129);
    }
}

}
